:root {
    --blue: rgb(0, 0, 60);
    --lightblue: rgb(136, 204, 250);
    --white: rgb(255, 255, 255);
    --headerFont: 'Play', sans-serif;
    --bodyFont: 'Architects Daughter', cursive;
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--white);
    font-family: var(--bodyFont);
    background-color: var(--lightblue);
}
header {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: var(--blue);
}
header h1 {
    font-size: 72px;
    padding: 15px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.card {
    background-color: var(--lightblue);
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0px;
}
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    border-color: var(--lightblue);
    text-align: center;
    margin: 15px;
}
.search-header {
    color: var(--lightblue);
    text-decoration: underline;
    text-align: center;
    font-size: 32px;
}
#srchbtn {
    background-color: var(--lightblue);
    border: 3px double var(--blue);
    color: var(--blue);
    font-size: 28px;
    margin-top: 12px;
}
#cities {
    background-color: var(--blue);
}
.cities-subtitle {
    color: var(--blue);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 2px solid var(--blue);
    margin: 0px;
}
.today {
    background-color: var(--blue);
    margin: 15px;
    height: 300px;
}
.forecast-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--lightblue);
}
#todaysDate {
    font-size: 32px;
    color: var(--lightblue);
}
#weatherIcon {
    display: flex;
    height: 50px;
    width: 50px;
}
#today-header {
    font-size: 40px;
    color: var(--lightblue);    
    margin: 1px 0 0 5px;
    text-align: center;
    text-transform: uppercase;
}
#todays_date {
    font-size: 32px;
    list-style-type: none;
}
#descriptionToday {
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
}
.future {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
